<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="hungry_launcher_v0._0._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <hungry_launcher_v0._0._1.Properties.Settings>
            <setting name="chBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Textbox" serializeAs="String">
                <value />
            </setting>
            <setting name="Textbox2" serializeAs="String">
                <value />
            </setting>
            <setting name="chBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mdir" serializeAs="String">
                <value />
            </setting>
            <setting name="chBox3" serializeAs="String">
                <value>False</value>
            </setting>
        </hungry_launcher_v0._0._1.Properties.Settings>
    </userSettings>
</configuration>